
<!-- <div style="pointer-events:none;" class="" routerLinkActive="hidden" routerLink="home">index</div> -->
<mz-navbar>
  <a routerLink="" class="brand-logo">Rotas Ng2</a>

  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item>
      <a mz-button id="btn-sidenav-side">Menu</a>
    </mz-navbar-item>
    <mz-navbar-item ><li routerLinkActive="active"><a routerLink="home" >Home</a></mz-navbar-item>
    <mz-navbar-item><li routerLinkActive="active"><a routerLink="login" >Login</a></li></mz-navbar-item>
    <mz-navbar-item ><li routerLinkActive="active"><a routerLink="cursos" >Cursos</a></mz-navbar-item>
    <mz-navbar-item ><li routerLinkActive="active"><a [routerLink]="['cursos',idCurso.value]" >Cursos com id</a></mz-navbar-item>
    <mz-navbar-item ><li routerLinkActive="active"><a routerLink="alunos" >Alunos</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>

<!-- Invoke Sidebar Menu -->
<sidebar-menu></sidebar-menu>

<div class="container">
  <input type="number" #idCurso placeholder="Entre com o Id de Cursos detalhes">
  <router-outlet></router-outlet>
</div>

